@font-face {
  font-family: "Pixel Operator";
  src: url("/static/fonts/pixel-operator/PixelOperator.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pixel Operator";
  src: url("/static/fonts/pixel-operator/PixelOperator-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
